<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Productos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>Lista de Productos</h1>

<ul>
  <li th:each="item:${productos}">
    <a th:href="@{'/web/'+${item._id}}">
      <h2 th:text="${item.title}"></h2>
      <p><strong>Precio:</strong> <span th:text="${item.price}"></span></p>
      <p><strong>Categoría:</strong> <span th:text="${item.category}"></span></p>
      <p><strong>Descripción:</strong> <span th:text="${item.description}"></span></p>
      <p><strong>Rate:</strong> <span th:text="${item.rate}"></span> (Sobre 5)</p>
      <p><strong>Count:</strong> <span th:text="${item.count}"></span></p>
      <img th:src="${item.image}" alt="Imagen del producto">
    </a>
  </li>
</ul>

</body>
</html>